.login-box {
  width: 317px;
  height: 317px;
  overflow: hidden;
  margin: 0px 0px;
  border-top: 2px solid #eee;
}
.qrcode-login{
  display: none;
}
.login-box-switch {
  _height: 317px;
  height: 317px;
  z-index: 1;
  padding-left: 30px;
  padding-bottom: 40px;
  border-right: 1px solid #dedede;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  .btn-2login,
  .btn-2qrcode,
  .btn-2phone {
    display: none;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-indent: -9999em;
    text-decoration: none;
    outline: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -1px;
    z-index: 2;
    background: url("/switcher-pc.png") no-repeat 0 0;
  }
  .btn-2qrcode {
    top: -5px;
    display: block;
    background-image: url("/switcher-qr.png");
}
  .login-btn {
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    width: 245px;
    margin-bottom: 8px;
  }
  .field {
    position: relative;
    z-index: 1;
    padding-bottom: 5px;
    label {
      display: block;
      font-weight: 700;
      padding-bottom: 3px;
      color: #444;
    }
    .remember-me {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .forget-pw-safe,
    .register-safe {
      position: absolute;
      right: 50px;
      font-size: 14px;
      top: 0;
    }

    .input-group {
      position: relative;
      display: table;
      border-collapse: separate;
      .login-text {
        width: 245px;
        height: 28px;
        line-height: 20px;
        margin-right: 3px;
        padding: 3px;
        border: 1px solid #ccc;
        outline: none;
        vertical-align: middle;
      }
    }
  }
  input[type="number"],
  input[type="text"],
  input[type="password"] {
    max-width: 100%;
    width: 206px;
    height: 28px;
    line-height: 20px;
    margin-right: 3px;
    padding: 3px;
    border: 1px solid #ccc;
    outline: none;
    vertical-align: middle;
  }
}
