.login-box {
  width: 317px;
  height: 317px;
  // overflow: hidden;
  margin: 0px 0px;
  border-top: 2px solid #eee;
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
}
.login-qrcode {
  display: none;
  padding-left: 0px !important;
  .qrcode-img {
    width: 200px;
    opacity: 1;
    height: 200px;
    margin: 0 auto;
    border: 2px solid #dedede;
    box-shadow: 0 0 8px #ddd;
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  .qrcode-desc {
    margin: 0 10px;
    padding: 15px 0px 0px 15px;
    color: #999;
    h2 {
      color: #333;
      font-size: 14px;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
  }
  .qrcode-err {
    display: none;
    padding: 30px 25px 18px 94px;
    border-bottom: 1px dashed #f2f2f2;
  }
  .qrcode-main {
    position: relative;
    padding: 15px 0 5px;
    min-height: 200px;
    _height: 200px;
  }
  .qrcode-panel {
    color: #b0b0b0;
    text-align: center;
    a {
      color: #444;
      margin: 0 3px;
      text-decoration: none;
      font-size: 14px;
    }
  }
}
.login-box-switch {
  _height: 317px;
  height: 317px;
  z-index: 1;
  padding-left: 30px;
  padding-bottom: 40px;
  border-right: 1px solid #dedede;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  .login-message {
    font: 12px/1.5 Tahoma, Helvetica, Arial, "\5B8B\4F53", sans-serif;
    padding-top: 3px;
    padding-left: 10px;
    margin-top: 5px;
    margin-right: 40px;
    min-height: 35px;
    _height: 35px;
  }
  .btn-2login,
  .btn-2qrcode,
  .btn-2phone {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-indent: -9999em;
    text-decoration: none;
    outline: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -1px;
    z-index: 2;
    background: url("/switcher-pc.png") no-repeat 0 0;
  }
  .btn-2qrcode {
    top: -5px;
    display: block;
    background-image: url("/switcher-qr.png");
  }
  .login-btn {
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    width: 245px;
    margin-bottom: 8px;
  }
  .field {
    position: relative;
    z-index: 1;
    padding-bottom: 5px;
    label {
      display: block;
      font-weight: 700;
      padding-bottom: 3px;
      color: #444;
    }
    .remember-me {
      display: inline-flex;
      padding-top: 5px;
      align-items: center;
      justify-content: center;
    }
    .forget-pw-safe,
    .register-safe {
      position: absolute;
      right: 50px;
      padding-top: 5px;
      font-size: 14px;
      top: 0;
    }

    .input-group {
      position: relative;
      display: table;
      border-collapse: separate;
      .login-text {
        width: 245px;
        height: 28px;
        line-height: 20px;
        margin-right: 3px;
        padding: 3px;
        border: 1px solid #ccc;
        outline: none;
        vertical-align: middle;
      }
    }
  }
  input[type="number"],
  input[type="text"],
  input[type="password"] {
    max-width: 100%;
    width: 206px;
    height: 28px;
    line-height: 20px;
    margin-right: 3px;
    padding: 3px;
    border: 1px solid #ccc;
    outline: none;
    vertical-align: middle;
  }
}
