.regist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}
.regist-box {
  margin: 0px 0px;
  background-color: var(--white);
  border-top: 2px solid #eee;
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-left: 1px solid #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.regist-box-switch {
  height: 100%;
  z-index: 1;
  width: 100%;
  padding-left: 50px;
  padding-bottom: 40px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  .regist-message {
    font: 12px/1.5 Tahoma, Helvetica, Arial, "\5B8B\4F53", sans-serif;
    padding-top: 3px;
    padding-left: 10px;
    margin-top: 5px;
    min-height: 35px;
    _height: 35px;
  }
  .btn-2login,
  .btn-2qrcode,
  .btn-2phone {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-indent: -9999em;
    text-decoration: none;
    outline: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 24px;
    z-index: 2;
    background: url("/switcher-pc.png") no-repeat 0 0;
  }
  .btn-2qrcode {
    background-image: url("/switcher-qr.png");
  }
  .register-btn {
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    width: 265px;
    margin-bottom: 8px;
  }
  .register-login-btn {
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    width: 265px;
    border: 1px solid transparent;
    background-color: transparent;
    color: #666;
    margin-bottom: 8px;
  }
  .remember-me {
    display: inline-flex;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
  }
  .register-protocol {
    font-size: 14px;
    cursor: pointer;
  }
  .field {
    position: relative;
    z-index: 1;
    padding-bottom: 5px;
    label {
      display: inline-flex;
      font-weight: 700;
      padding-bottom: 3px;
      color: #444;
    }
    .input-group {
      position: relative;
      display: table;
      border-collapse: separate;
      .regist-text,.phone-code {
        width: 265px;
        height: 28px;
        line-height: 20px;
        margin-right: 3px;
        padding: 3px;
        border: 1px solid #ccc;
        outline: none;
        vertical-align: middle;
      }
      .phone-code {
        width: 177px;
        border-radius: 10px 0px 0px 10px;
      }
      .input-group-btn {
        position: relative;
        font-size: 0;
        white-space: nowrap;
        vertical-align: middle;
        display: table-cell;
        left: -3px
      }
      .regist-sms-btn {
        height: 36px;
        border-radius: 0px 10px 10px 0px;
      }
    }
  }
  input[type="number"],
  input[type="text"],
  input[type="password"] {
    max-width: 100%;
    width: 206px;
    height: 28px;
    line-height: 20px;
    margin-right: 3px;
    text-align: start;
    padding: 3px;
    border: 1px solid #ccc;
    outline: none;
    vertical-align: middle;
  }
}
