.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    h2 {
      // font-size: 30px;
    }
  }
  .panel-body {
    padding: 15px;
  }
  .panel-default {
    border-color: #ddd;
  }
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.agreement-content {
  color: #333;
  border: 1px solid #e0dddb;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 3px #e0dddb;
  box-shadow: 0 3px 3px #e0dddb;
  .agreement-title {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
  }
}
